In [5]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='Naruto@99',database='assignment_3')
    if conn.is_connected():
        cursor = conn.cursor()
except Error as e:
    print("Error while connecting to MySQL", e)

In [6]:
import os 
url = os.getcwd()

import pandas as pd
gdp = pd.read_csv(f"{url}/../csv/gdpfinal.csv", header=None, skiprows=1)
for i,row in gdp.iterrows():
    if (len(row[0]))<4:
        sql = "INSERT IGNORE INTO assignment_3.gdp VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [7]:
import pandas as pd
alc = pd.read_csv(f"{url}/../csv/alchappinessfinal.csv", header=None, skiprows=1)
# alc
for i,row in alc.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.alchappiness VALUES (%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [8]:
import pandas as pd
crime = pd.read_csv(f"{url}/../csv/crimefinal.csv", header=None, skiprows=1)
for i,row in crime.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.crime VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [9]:
import pandas as pd
covidstatus = pd.read_csv(f"{url}/../csv/covidstatus.csv", header=None, skiprows=1)
for i,row in covidstatus.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.covidstatus VALUES (%s,%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [10]:
import pandas as pd
literacy = pd.read_csv(f"{url}/../csv/literacyfinal.csv", header=None, skiprows=1)
for i,row in literacy.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.literacy VALUES (%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [11]:
import pandas as pd
internet = pd.read_csv(f"{url}/../csv/internetfinal.csv", header=None, skiprows=1)
for i,row in internet.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.internet VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [12]:
import pandas as pd
co = pd.read_csv(f"{url}/../csv/countryfinal.csv", header=None, skiprows=1)
for i,row in co.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.country VALUES (%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [13]:
import pandas as pd
uni = pd.read_csv(f"{url}/../csv/unisfinal.csv", header=None, skiprows=1)

for i,row in uni.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.universities VALUES (%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

In [14]:
import pandas as pd
medals = pd.read_csv(f"{url}/../csv/medalsfinal.csv", header=None, skiprows=1)
medals
for i,row in medals.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.medals VALUES (%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

In [15]:
import pandas as pd
happiness = pd.read_csv(f"{url}/../csv/happinessfinal.csv", header=None, skiprows=1)

for i,row in happiness.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.happiness VALUES (%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()