In [5]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='Naruto@99',database='assignment_3')
    if conn.is_connected():
        cursor = conn.cursor()
except Error as e:
    print("Error while connecting to MySQL", e)

In [6]:
import pandas as pd
gdp = pd.read_csv("/Users/manyareddy/Desktop/all/csv/gdpfinal.csv", header=None, skiprows=1)
for i,row in gdp.iterrows():
    if (len(row[0]))<4:
        sql = "INSERT IGNORE INTO assignment_3.gdp VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [11]:
import pandas as pd
alc = pd.read_csv("/Users/manyareddy/Desktop/all/csv/alchappinessfinal.csv", header=None, skiprows=1)
# alc
for i,row in alc.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.alchappiness VALUES (%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [13]:
import pandas as pd
crime = pd.read_csv("/Users/manyareddy/Desktop/all/csv/crimefinal.csv", header=None, skiprows=1)
for i,row in crime.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.crime VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [15]:
import pandas as pd
covidstatus = pd.read_csv("/Users/manyareddy/Desktop/all/csv/covidstatus.csv", header=None, skiprows=1)
for i,row in covidstatus.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.covidstatus VALUES (%s,%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [17]:
import pandas as pd
literacy = pd.read_csv("/Users/manyareddy/Desktop/all/csv/literacyfinal.csv", header=None, skiprows=1)
for i,row in literacy.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.literacy VALUES (%s,%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [21]:
import pandas as pd
internet = pd.read_csv("/Users/manyareddy/Desktop/all/csv/internetfinal.csv", header=None, skiprows=1)
for i,row in internet.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.internet VALUES (%s,%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [23]:
import pandas as pd
co = pd.read_csv("/Users/manyareddy/Desktop/all/csv/countryfinal.csv", header=None, skiprows=1)
for i,row in co.iterrows():
    if (len(row[0]))<5:
        sql = "INSERT IGNORE INTO assignment_3.country VALUES (%s,%s)"
        cursor.execute(sql, tuple(row))
        conn.commit()

In [33]:
import pandas as pd
uni = pd.read_csv("/Users/manyareddy/Desktop/all/csv/unisfinal.csv", header=None, skiprows=1)

for i,row in uni.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.universities VALUES (%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

In [29]:
import pandas as pd
medals = pd.read_csv("/Users/manyareddy/Desktop/all/csv/medalsfinal.csv", header=None, skiprows=1)
medals
for i,row in medals.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.medals VALUES (%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

In [32]:
import pandas as pd
happiness = pd.read_csv("/Users/manyareddy/Desktop/all/csv/happinessfinal.csv", header=None, skiprows=1)

for i,row in happiness.iterrows():
    sql = "INSERT IGNORE INTO assignment_3.happiness VALUES (%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()